@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: #4F32FF;
  color: #fff;
  font-family: 'Be Vietnam Pro', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn {
  border-radius: 10px;
}

.save-btn {
  background: #20c997;
}

.history-btn {
  background: #f44336;
}